{% extends 'shared/base.html' %}
{% block title %} blog {% endblock %}
{% load farsi_date %}
{% block content %}


        <!-- Start main-content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <!-- Start title - breadcrumb -->
                <div class="title-breadcrumb-special dt-sl">
                    <div class="breadcrumb dt-sl">
                        <nav>
                            <a href="#">خانه</a>
                            <a href="#">وردپرس</a>
                            <a href="#">افزودن دکمه تماس در سایت وردپرسی</a>
                        </nav>
                    </div>
                    <div class="title-page dt-sl">
                        <h1> {{ blog.title }}</h1>
                    </div>
                    <div class="post-rating">
                        <div class="star-rate" data-toggle="tooltip" data-placement="top" data-html="true" title=""
                            data-original-title="<b>۴</b> از ۴ رای">
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                            <span class="active"></span>
                        </div>
                    </div>
                </div>
                
                <!-- End title - breadcrumb -->
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-3">
                        <div class="content-page">
                            <div class="content-desc dt-sn dt-sl">
                                <header class="entry-header dt-sl mb-3">
                                    <div class="post-meta date">
                                        <i class="mdi mdi-calendar-month"></i>      {{ blog.date }}

                                    </div>
                                    <div class="post-meta author">
                                        <i class="mdi mdi-account-circle-outline"></i>
                                        ارسال شده توسط<a href="#">{{ blog.publisher }}</a>
                                    </div>
                                    <div class="post-meta category">
                                        <i class="mdi mdi-folder"></i>
                                        <a href="#">دسته‌بندی نشده</a> ، <a href="#">کسب و کار آنلاین</a> ، <a
                                            href="#">معرفی کتاب</a>
                                    </div>
                                    <div class="post-meta category">
                                        <i class="mdi mdi-eye"></i>
                                        433 بازدید
                                    </div>
                                </header>
                                <div class="post-thumbnail dt-sl">
                                    <img src="{{ blog.img.url }}" alt="">
                                </div>
                               
                                <p></p>
                                <p>{{ blog.body | safe}}</p>
                              
                            </div>
                        </div>
                        <div class="comments-area dt-sl my-3">
                            <div class="dt-sn">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-ui blog-comment">
                                            <form onsubmit="return false">
                                                <div class="row">

                                                    <div class="col-12 mt-3 mb-3">
                                                        <div class="form-row-title mb-2">متن نظر شما (اجباری)</div>
                                                        <div class="form-row-title mb-2" id="reply_to">نظر عمومی:</div>
                                                        <div class="form-row">
                                                            <textarea class="input-ui pr-2 pt-2" rows="5" id="user_comment_text"
                                                                placeholder="متن خود را بنویسید"></textarea>
                                                        </div>
                                                    </div>
                                                    <div id="comment_section" class="col-12 px-3" >
                                                        <p class="d-block">با “ثبت نظر” موافقت خود را با <a href="#"
                                                                class="border-bottom-dt" target="_blank">قوانین
                                                                انتشار محتوا</a> در دیجی‌کالا اعلام می‌کنم.</p>
                                                        <button onclick="send_comment({{blog.id}})" class="btn btn btn-primary px-3">
                                                            ثبت نظر
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 mt-5 dt-sl">
                                <h2>نظرات کاربران</h2>
                                <p class="count-comment">{{blog_comments_count}} نظر</p>
                            </div>
                            <ol class="comment-list">
                                <!-- #comment-## -->
                                 {% for comment in blog_comments %}
                                <li>
                                    <div class="comment-body mt-3">
                                        <div class="row">
                                            <div class="col-12 comment-content">
                                                <div class="comment-author">
                                                    توسط <span id="comment_owner_name_{{comment.id}}">{{comment.user}}</span> در تاریخ {{comment.date|farsi_date_changer }}
                                                </div>

                                                <p id="comment_text_{{comment.id}}">{{ comment.text }}</p>

                                                <div class="footer" style="width: 90%;">
                                                    <button class="btn btn-info btn-sm float-right" onclick="reply_comment({{comment.id}})">پاسخ دادن به این نظر</button>
                                                    
                                                    <div class="comments-likes">
                                                        آیا این نظر برایتان مفید بود؟
                                                        <button class="btn-like" data-counter="{{comment.show_likes}}">بله
                                                        </button>
                                                        <button class="btn-like" data-counter="{{comment.show_dislikes}}">خیر
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% for item in comment.blogcomment_blogcomment_set.all %}
                                {% if item.admin_verify == True %}
                                <li class="mr-5">
                                    <div class="comment-body mt-3">
                                        <div class="row">
                                            <div class="col-12 comment-content">
                                                <div class="comment-author">
                                                    توسط {{item.user}} در تاریخ {{item.date | farsi_date_changer}}
                                                </div>

                                                <p>{{ item.text }}</p>

                                                <div class="footer">
                                                    <div class="comments-likes">
                                                        آیا این نظر برایتان مفید بود؟
                                                        <button class="btn-like" data-counter="{{item.show_likes}}">بله
                                                        </button>
                                                        <button class="btn-like" data-counter="{{item.show_dislikes}}">خیر
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor%}
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3 sidebar sticky-sidebar">
                        <div class="widget-posts dt-sn dt-sl rounded-0 border-bottom mb-3">
                            <div class="title-sidebar dt-sl mb-3">
                                <h3>جدیدترین نوشته ها</h3>
                            </div>
                            <div class="content-sidebar dt-sl">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/1.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">سایت و فروشگاهتو طراحی کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/2.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">امنیت سایتت رو تامین کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/3.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">اینستاگرام را پول ساز کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/4.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">سایت خودت رو چندزبانه کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sn dt-sl rounded-0 border-bottom mb-3">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>دسته ها</h2>
                            </div>
                            <ul class="category-list">
                                <li><a href="#">بهینه سازی</a></li>
                                <li><a href="#">برنامه نویسی</a></li>
                                <li><a href="#">طراحی سایت</a>
                                    <ul>
                                        <li><a href="#">وردپرس</a></li>
                                        <li><a href="#">پلاگین نویسی</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">گرافیک</a></li>
                            </ul>
                        </div>
                        <div class="dt-sn dt-sl rounded-0 border-bottom">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>برچسبها</h2>
                            </div>
                            <ul class="tag-list">
                                <li><a href="#">بهینه سازی</a></li>
                                <li><a href="#">برنامه نویسی</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">پلاگین نویسی</a></li>
                                <li><a href="#">گرافیک</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End main-content -->
       

{% endblock %}

{% block additional_js %}
    <script src="/static/js/custom.js"></script>
{% endblock %}